/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace physics "com.flexmojo.physics.*";
@namespace joint "com.flexmojo.physics.joint.*";

physics|PhysicalComponent {
	friction : 0;
	restitution : 0;
	density : 0;
	fixedRotation : false;
	bodyType: static;
	
	physicsAdapterClass : ClassReference("com.flexmojo.physics.adapter.DefaultPhysicsAdapter");
	skinClass : ClassReference("com.flexmojo.physics.PhysicalComponentSkin");
}

physics|PhysicalComponentSkin {
	fillColor: #000000;
	fillAlpha: 0;
	
	strokeColor: #000000;
	strokeAlpha: 1;
	strokeWeight: 1;
}

joint|Joint {
	skinClass: ClassReference("com.flexmojo.physics.joint.JointSkin");
	strokeWeight: 1;
	strokeAlpha: 1;
	strokeColor: #000000;
}